/*
 * Navbar Styles
 * Navigation bar with dropdown menus
 */

.eln-navbar-container {
    z-index: 1;
}

/* Navbar Container */
.navbar {
    --dropdown-speed: 0.3s;
    --padding-menu: 3em;
    width: 100%;
    overflow: hidden;
    background-color: var(--background-navbar);
    font-size: 0.9rem;
}

/* Navbar Dropdown */
.navbar-dropdown {
    float: left;
    overflow: hidden;
    padding: 7px 0px;
}

.navbar-dropdown button.dropbtn {
    font-size: inherit;
    font-weight: regular;
    border: none;
    width: 100%;
    outline: none;
    color: var(--text-normal);
    padding: 14px var(--padding-menu) 14px 0;
    background-color: var(--background-navbar);
    margin: 0;
    box-shadow: none;
}

/* Dropdown Hover Effects */
.navbar a:hover,
.navbar-dropdown:hover button.dropbtn {
    color: var(--link-color);
    /* background-color: var(--tag-background); */
}

/* Dropdown Content */
.navbar-dropdown .dropdown-content {
    /* transform: scaleY(0); */
    /* Collapsed state */
    /* transform-origin: top; */
    /* Scale from the top */
    height: 0;
    overflow: hidden;
    visibility: hidden;
    /* opacity: 0; */
    position: absolute;
    background-color: var(--background-dropdown);
    width: 100%;
    left: 0;
    /* top: -20em; */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 68px;
    z-index: 1;
    /* transition: transform 0.3s linear, opacity 0.3s ease, visibility 0.3s ease, padding 0.3s ease; */
    transition: height var(--dropdown-speed) ease;
}

.navbar-dropdown.open .dropdown-content {
    height: 20em;
    /* Expanded state */
    visibility: visible;
    /* transform: translateY(25em); */
    opacity: 1;
}

/* Dropdown Links */
.dropdown-content a.internal-link {
    float: none;
    color: var(--text-normal);
    padding: 0.2rem 0rem;
    text-decoration: none;
    display: block;
    text-align: left;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.3s ease 0.3s;
    /* Add delay to match menu unfolding */
}

.navbar-dropdown.open .dropdown-content a.internal-link {
    opacity: 1;
    /* Fully visible after menu unfolds */
}

/* Navbar Links */
.navbar a.internal-link {
    float: left;
    font-size: inherit;
    font-weight: 500;
    color: var(--text-muted);
    text-align: center;
    padding: 11px 16px 7px 16px;
    text-decoration: none;
}

.navbar-dropdown a.internal-link {
    font-size: 0.9rem;
    text-align: left;
    width: 100%;
    padding: 2px 0px;
}

/* Navbar Links */
.navbar-link-internal {
    float: left;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--text-normal);
    text-align: center;
    padding: 11px 16px 7px 16px;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-content .navbar-link-internal {
    text-align: left;
    padding: 5px 0px;
    opacity: 0;
    transition: opacity 0.3s linear var(--dropdown-speed);
}

.navbar-dropdown.open .dropdown-content .navbar-link-internal {
    opacity: 1;
    /* Fully visible after menu unfolds */
}

.navbar-link-internal:hover {
    color: var(--link-color);
    /* background-color: var(--tag-background); */
}

.navbar-home.navbar-link-internal {
    padding-right: var(--padding-menu);
}

/* Dropdown Columns */
.navmenu-column {
    display: flex;
    flex-direction: column;
    float: left;
    width: 10em;
    padding-bottom: 1rem;
}

.navmenu-column a {
    float: none;
    color: var(--text-normal);
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navmenu-column a:hover {
    background-color: var(--tag-background);
}

/* Dropdown Headers */
.navbar h3 {
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--text-muted);
    padding: 2px 0px;
    text-align: left;
}

.dropdown-content .header {
    background: inherit;
    padding: 16px;
    color: var(--text-muted);
}
/*
 * Navbar Styles
 * Navigation bar with dropdown menus
 */

.eln-navbar-container {
    z-index: 1;
}

.navbar {
    --dropdown-speed: 0.3s;
    --padding-menu: 3em;
    width: 100%;
    overflow: hidden;
    background-color: var(--background-navbar);
    font-size: 0.9rem;
}

.navbar-dropdown {
    float: left;
    overflow: hidden;
    padding: 7px 0px;
}

.navbar-dropdown button.dropbtn {
    font-size: inherit;
    font-weight: regular;
    border: none;
    width: 100%;
    outline: none;
    color: var(--text-normal);
    padding: 14px var(--padding-menu) 14px 0;
    background-color: var(--background-navbar);
    margin: 0;
    box-shadow: none;
}

.navbar a:hover,
.navbar-dropdown:hover button.dropbtn {
    color: var(--link-color);
}

.navbar-dropdown .dropdown-content {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    background-color: var(--background-dropdown);
    width: 100%;
    left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 68px;
    z-index: 1;
    transition: height var(--dropdown-speed) ease;
}

.navbar-dropdown.open .dropdown-content {
    height: 20em;
    visibility: visible;
    opacity: 1;
}

.dropdown-content a.internal-link {
    float: none;
    color: var(--text-normal);
    padding: 0.2rem 0rem;
    text-decoration: none;
    display: block;
    text-align: left;
    opacity: 0;
    transition: opacity 0.3s ease 0.3s;
}

.navbar-dropdown.open .dropdown-content a.internal-link {
    opacity: 1;
}

.navbar a.internal-link {
    float: left;
    font-size: inherit;
    font-weight: 500;
    color: var(--text-muted);
    text-align: center;
    padding: 11px 16px 7px 16px;
    text-decoration: none;
}

.navbar-dropdown a.internal-link {
    font-size: 0.9rem;
    text-align: left;
    width: 100%;
    padding: 2px 0px;
}

.navbar-link-internal {
    float: left;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--text-normal);
    text-align: center;
    padding: 11px 16px 7px 16px;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-content .navbar-link-internal {
    text-align: left;
    padding: 5px 0px;
    opacity: 0;
    transition: opacity 0.3s linear var(--dropdown-speed);
}

.navbar-dropdown.open .dropdown-content .navbar-link-internal {
    opacity: 1;
}

.navbar-link-internal:hover {
    color: var(--link-color);
}

.navbar-home.navbar-link-internal {
    padding-right: var(--padding-menu);
}

.navmenu-column {
    display: flex;
    flex-direction: column;
    float: left;
    width: 10em;
    padding-bottom: 1rem;
}

.navmenu-column a {
    float: none;
    color: var(--text-normal);
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navmenu-column a:hover {
    background-color: var(--tag-background);
}

.navbar h3 {
    font-size: 0.9rem;
    font-weight: normal;
    color: var(--text-muted);
    padding: 2px 0px;
    text-align: left;
}

.dropdown-content .header {
    background: inherit;
    padding: 16px;
    color: var(--text-muted);
}

div.navmenu-header>h2 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-muted);
    padding: 2px 0px;
    text-align: left;
}

.navmenu-row:after {
    content: "";
    display: table;
    clear: both;
}

.eln-view-content-blur {
    filter: blur(8px);
    clip-path: margin-box;
    background-color: var(--content-bg-darken) !important;
    transition: filter 0.3s ease, background-color 0.3s ease;
}
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-muted);
    padding: 2px 0px;
    text-align: left;
}

/* Clear Floats */
.navmenu-row:after {
    content: "";
    display: table;
    clear: both;
}

/* Blurring and Darkening Effect */
.eln-view-content-blur {
    filter: blur(8px);
    clip-path: margin-box;
    background-color: var(--content-bg-darken) !important;
    transition: filter 0.3s ease, background-color 0.3s ease;
}
